<div class="header-section">
  <span class="header-text">
    Sign Up
  </span>
</div>

<form [formGroup]="form" autocomplete="off">

  <ng-container *ngIf="!success">
    <div class="input-box">
      <input type="email" placeholder="Email" autocomplete="email" [formControl]="username">
      <mat-icon class="icon">perm_identity_outline</mat-icon>
    </div>
    <div *ngIf="isInvalidField(username) && submitAttempted" class="error">
      Please check the username for a valid email.
    </div>

    <div class="input-box">
      <input type="password" placeholder="New password" autocomplete="new-password" [formControl]="password">
      <mat-icon class="icon">lock_outline</mat-icon>
    </div>
    <div *ngIf="isInvalidField(password) && submitAttempted" class="error">
      <div *ngIf="password.hasError('required'); else passwordValidationMessages">
        Please make sure you have typed a password.
      </div>

      <ng-template #passwordValidationMessages>{{password.errors | errorMessage}}</ng-template>
    </div>

    <div class="input-box">
      <input type="password" placeholder="Confirm password" autocomplete="new-password" [formControl]="confirmPass">
      <mat-icon class="icon">lock_outline</mat-icon>
    </div>
    <div *ngIf="isInvalidField(confirmPass) && submitAttempted" class="error">
      Please make sure you have typed the same password in the confirmation field.
    </div>

    <div class="login-options">
      <a routerLink="../../signin">Already have an account?</a>
    </div>

    <div *ngIf="form.valid && apiErrorMessage" class="error-message">
      {{apiErrorMessage | authErrorMessage}}
    </div>

    <div>
      <button type="submit" class="login-button" (click)="signUp()" [disabled]="form.invalid && submitAttempted">Create Account</button>
    </div>
  </ng-container>

  <div class="success-message" *ngIf="success">
    Great!
    <br>Please, check your email to verify!
    <br><br>
    <br><br> If you don’t receive a message
    in 5 minutes, check the junk folder. Please contact support if you experience any problems.
  </div>

  <div class="other-actions">
    <a routerLink="../../request-confirmation-email">Resend Activation Email</a>
  </div>

</form>
