@use '~angular-material-css-vars/src/lib/public-util' as *;

.mat-spinner {
  circle {
    stroke: #29b6f6;
  }
}

.fade-me {
  background: rgba(0, 0, 0, 20%);
  width: 100%;
  height: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mat_css-dark-theme-global {
    background: rgba(255, 255, 255, 20%);
  }

  .mat-progress-spinner {
    circle {
      stroke: #29b6f6;
    }
  }
}
