mat-tooltip-component {
  .mat-tooltip {
    font-size: 18px;
    word-break: break-word;

    &.small-tooltip {
      font-size: 14px;
    }

    &.error-tooltip {
      font-size: 12px;
      color: rgba(var(--palette-warn-500), 1);
      border: 1px solid rgba(var(--palette-warn-200), 1);
      background-color: rgba(var(--palette-warn-50), 1);
      margin-top: 3px;
      position: relative;
      z-index: 0;
    }
  }
}

.tooltip-content {
  width: 930px;
  height: 300px;
  position: absolute;
  left: -120px;
  bottom: -50px;
  padding: 8px;
  transform-origin: top;
  background: #616161e6;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
