.payment-terms-wrapper {
  margin-top: 10px;

  .payment-terms-actions {
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    margin-right: 30px;

    app-button {
      padding: 10px;
    }

    mat-icon {
      margin-top: 0;
      cursor: pointer;
    }
  }

  .payment-terms-wrapper {
    .editable-terms-wrapper {
      margin-top: 15px;
      display: flex;

      .unit {
        margin: 23px 8px;
      }

      mat-form-field {
        width: 50%;
      }

      textarea {
        height: 50px;
        width: 100%;
      }
    }
  }
}
