<app-modal-base header="Change Password" (closed)="close()">

    <ng-container content>

      <div [formGroup]="formGroup" class="form-vertical">
        <mat-form-field *ngIf="formGroup.controls.currentPassword">
          <input matInput type="password" placeholder="Current Password" required formControlName="currentPassword" autocomplete="new-password" />
          <mat-error>{{formGroup.controls.currentPassword?.errors | errorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="New Password" required formControlName="newPassword" autocomplete="new-password"/>
          <mat-error>{{formGroup.controls.newPassword?.errors | errorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" required formControlName="confirmPassword" autocomplete="new-password"/>
          <mat-error>{{formGroup.controls.confirmPassword?.errors | errorMessage}}</mat-error>
        </mat-form-field>
      </div>

    </ng-container>

    <ng-container actions>
      <app-button [isNarrow]="true" (clicked)="close()">Cancel</app-button>
      <app-button [isNarrow]="true" [isPrimary]="true" (clicked)="change()" [isDisabled]="formGroup.invalid">Change</app-button>
    </ng-container>

</app-modal-base>
