.letter-image {
  width: 130px;
  height: 130px;
  background-color: lightgray;
  font-size: 50px;
  font-weight: 900;
  border-radius: 65px;
  text-align: center;
  line-height: 130px;
  color: rgb(var(--palette-primary-500), 1);
}

img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.is-small {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px;
  font-size: 25px;
}
