<div class="header-section">
  <span class="header-text">
    Forgot Password
  </span>
</div>

<form [formGroup]="form" autocomplete="off">

  <div class="input-box">
    <input type="email" placeholder="Email" autocomplete="email" [formControl]="username" [readOnly]="true">
    <mat-icon class="icon">perm_identity_outline</mat-icon>
  </div>

  <div class="input-box">
    <input type="password" placeholder="New password" autocomplete="new-password" [formControl]="password">
    <mat-icon class="icon">lock_outline</mat-icon>
  </div>
  <div *ngIf="isInvalidField(password) && submitAttempted" class="error">
    <div *ngIf="password.hasError('required'); else passwordValidationMessages">
      Please make sure you have typed a password.
    </div>

    <ng-template #passwordValidationMessages>{{password.errors | errorMessage}}</ng-template>
  </div>

  <div class="input-box">
    <input type="password" placeholder="Confirm password" autocomplete="new-password" [formControl]="confirmPassword">
    <mat-icon class="icon">lock_outline</mat-icon>
  </div>
  <div *ngIf="isInvalidField(confirmPassword) && submitAttempted" class="error">
    Please make sure you have typed the same password in the confirmation field.
  </div>

  <div *ngIf="form.valid && apiErrorMessage" class="error-message">
    {{apiErrorMessage | authErrorMessage}}
  </div>

  <div>
    <button type="submit" class="login-button" (click)="reset()" [disabled]="form.invalid && submitAttempted">Reset</button>
  </div>

</form>
