.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  max-height: 100%;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}
