<app-modal-base header="CRM Location Link">
  <ng-container content>
    <div class="content-wrapper">
      <mat-icon color="primary" matPrefix>link</mat-icon>
      <p>This location Is Linked to <span>{{crmLocation?.link?.shortName}}</span> from BuyChain customer {{crmLocation?.crmAccount?.link.name}}</p>
    </div>
  </ng-container>

  <ng-container actions>
    <app-button [isNarrow]="true" class="grow-1" (clicked)="close()">Close</app-button>
    <app-button [isNarrow]="true" [isPrimary]="true" icon="cached" (clicked)="syncCrmLocation()">Sync</app-button>
    <app-button [isNarrow]="true" [isPrimary]="true" icon="link_off" (clicked)="unlinkCrmLocation()">Unlink</app-button>
  </ng-container>
</app-modal-base>
