<app-modal-base header="Close Contract" (closed)="close()">
  <ng-container content>

    <div *ngIf="!mfgFacilityUnique" class="error-placeholder mb-20">
      <span>Manufacturing facility should be unique among selected products.</span>
    </div>

    <h4 class="mt-0">Lot</h4>
    <dx-data-grid #grid
        [dataSource]="items"
        [showBorders]="true"
        [remoteOperations]="false"
        [allowColumnResizing]="true"
        columnResizingMode="widget"
        [allowColumnReordering]="false"
        [rowAlternationEnabled]="true"
        [columnHidingEnabled]="true"
        [hoverStateEnabled]="true"
        [columnAutoWidth]="true"
        [(selectedRowKeys)]="selectedLotIds"
        keyExpr="lotId"
        (onRowCollapsed)="onRowCollapsed()"
        (onRowExpanded)="onRowExpanded()"
        (onSelectionChanged)="onLotSelectionChange($event)"
    >
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-selection [allowSelectAll]="false" showCheckBoxesMode="always" mode="multiple"></dxo-selection>
      <dxo-master-detail [enabled]="true" template="itemDetailsTemplate"></dxo-master-detail>

      <div *dxTemplate="let details of 'itemDetailsTemplate'">
        <dx-data-grid [dataSource]="details.data?.products || []"
                      [showBorders]="true"
                      [remoteOperations]="false"
                      [allowColumnResizing]="true"
                      columnResizingMode="widget"
                      [allowColumnReordering]="false"
                      [rowAlternationEnabled]="true"
                      [columnHidingEnabled]="true"
                      [hoverStateEnabled]="true"
                      [columnAutoWidth]="true"
                      keyExpr="id"
                      [(selectedRowKeys)]="selectedState[details.key].selectedProducts"
                      (onSelectionChanged)="onProductSelectionChange()"
        >
          <dxo-selection [allowSelectAll]="false" showCheckBoxesMode="always" mode="multiple"></dxo-selection>

          <dxi-column dataField="trackingNumber" caption="Tracking Number" width="150px" cellTemplate="trackingTemplate"></dxi-column>
          <div *dxTemplate="let data of 'trackingTemplate'">
            <app-copy-text-button *ngIf="data.value"
                                  class="small"
                                  [text]="data.value"
                                  [valueToCopy]="data.value"
                                  successMessage="Tracking number copied to clipboard"
            ></app-copy-text-button>
          </div>

          <dxi-column dataField="contract.number" caption="Contract" alignment="right" width="150px" cellTemplate="numberTemplate" [allowGrouping]="false"></dxi-column>
          <div *dxTemplate="let data of 'numberTemplate'">
            <app-copy-text-button *ngIf="data.value"
                                  class="small"
                                  [text]="data.value"
                                  [valueToCopy]="data.value"
                                  successMessage="Contract number copied to clipboard"
            ></app-copy-text-button>
          </div>

          <dxi-column dataField="contract.supplier" caption="Supplier" [calculateDisplayValue]="calculateDisplaySupplierValue"></dxi-column>
          <dxi-column dataField="contract.broker" caption="Broker" [calculateDisplayValue]="calculateDisplayBrokerValue"></dxi-column>

          <dxi-column dataField="state" cellTemplate="stateCellTemplate"></dxi-column>
          <div *dxTemplate="let data of 'stateCellTemplate'">
            {{data.value | stringUnderscoreToSpaceTitleCase}}
          </div>

          <dxi-column dataField="isAllocated" caption="Allocated" cellTemplate="allocatedCellTemplate"></dxi-column>
          <div *dxTemplate="let data of 'allocatedCellTemplate'">
            {{data.value | booleanYesNo}}
          </div>
          <dxi-column dataField="mfgFacilityShortName" caption="Mfg Facility"></dxi-column>

          <dxi-column dataField="allocatedTransactionId" caption="Allocated Transaction" cellTemplate="allocatedTransactionCellTemplate"></dxi-column>
          <div *dxTemplate="let data of 'allocatedTransactionCellTemplate'">
            <a *ngIf="data.value" [routerLink]="getLinkToTransaction(data.value)" (click)="goToTransaction(data.value)">
              {{(data.value | shortGuid)}}
            </a>
          </div>

          <dxi-column dataField="qtyInUom" caption="Qty" cellTemplate="qtyCellTemplate"></dxi-column>
          <div *dxTemplate="let data of 'qtyCellTemplate'">
            {{details.data.qtyPerProduct | number: '1.3'}} {{details.data.uomLabel}}
          </div>

          <dxi-column dataField="contract.contractPrice" caption="Contract Price (Per UoM)" cellTemplate="contractPriceCellTemplate"></dxi-column>
          <div *dxTemplate="let data of 'contractPriceCellTemplate'" class="d-flex align-items-center">
            <div class="small-control-container static-error" [formGroup]="priceFormGroup">
              <input class="small-control" matInput placeholder="Price" type="number" [formControlName]="data.data.id">
              <mat-error *ngIf="priceFormGroup.get(data.data.id).errors as errors" class="static-mat-error">{{errors | errorMessage}}</mat-error>
            </div>

            <app-icon-button [isPrimary]="true"
                             [isDisabled]="priceFormGroup.get(data.data.id).value === (data.value || 0)"
                             (clicked)="onResetContractPrice(priceFormGroup.get(data.data.id), data.value)"
                             icon="restart_alt"
                             title="set to original value"
            ></app-icon-button>
          </div>

          <dxi-column dataField="contract" alignment="right" caption="Contract Price" cellTemplate="contractPriceTemplate" [calculateSortValue]="calculateContractPriceValue"></dxi-column>
          <div *dxTemplate="let data of 'contractPriceTemplate'">
            {{calculateContractPriceValue(data.data) | currency}}
          </div>

          <dxi-column [allowHiding]="false" [allowReordering]="false" cellTemplate="productActionsTemplate" [allowGrouping]="false" [width]="60"></dxi-column>
          <div *dxTemplate="let product of 'productActionsTemplate'">
            <app-icon-button [isWarn]="true" (clicked)="onDeleteProduct(product.data)" icon="delete_forever"></app-icon-button>
          </div>

        </dx-data-grid>
      </div>

      <dxi-column type="detailExpand" width="30px" [fixed]="true" [allowResizing]="false" fixedPosition="left"></dxi-column>
      <dxi-column type="selection" width="30px" [fixed]="true" [allowResizing]="false" fixedPosition="left"></dxi-column>

      <dxi-column dataField="specShorthand" caption="Spec"></dxi-column>
      <dxi-column dataField="shipWeekEstimate" dataType="date" caption="Est Ship Date"></dxi-column>

      <dxi-column dataField="contractUnitsCount" caption="Contract Units"></dxi-column>

      <dxi-column dataField="qtyInUom" caption="Purchase Qty" cellTemplate="qtyCellTemplate"></dxi-column>
      <div *dxTemplate="let data of 'qtyCellTemplate'">
        {{data.value | number: '1.3'}} {{data.data.uomLabel}}
      </div>

      <dxi-column caption="Units To Convert" cellTemplate="unitToConvertTemplate" alignment="right"></dxi-column>
      <div *dxTemplate="let data of 'unitToConvertTemplate'">
        {{selectedState[data.key].selectedProducts.length}}
      </div>

      <dxi-column [allowSorting]="true" alignment="right" caption="Purchase Price (per UoM)" cellTemplate="purchasePriceUoMTemplate" [calculateSortValue]="calculatePurchasePriceUoMValue"></dxi-column>
      <div *dxTemplate="let data of 'purchasePriceUoMTemplate'">
        {{calculatePurchasePriceUoMValue(data.data) | currency}}
      </div>

      <dxi-column [allowSorting]="true" alignment="right" caption="Purchase Price Total" cellTemplate="purchasePriceTotalTemplate" [calculateSortValue]="calculatePurchasePriceTotalValue"></dxi-column>
      <div *dxTemplate="let data of 'purchasePriceTotalTemplate'">
        {{calculatePurchasePriceTotalValue(data.data) | currency}}
      </div>

      <dxi-column [allowHiding]="false" [allowReordering]="false" cellTemplate="actionsTemplate" [allowGrouping]="false" [width]="60"></dxi-column>
      <div *dxTemplate="let item of 'actionsTemplate'">
        <app-icon-button [isWarn]="true" (clicked)="onDeleteLot(item.data)" icon="delete_forever"></app-icon-button>
      </div>
    </dx-data-grid>

  </ng-container>

  <ng-container actions>
    <div class="d-flex flex-direction-column">
      <div class="text-right text-danger">
        <span class="text-bold">Warning:</span> you are choosing to execute a contract at the price indicated at the above.
      </div>
      <div class="d-flex justify-content-end mt-15">
        <app-button [isNarrow]="true" (clicked)="close()">Cancel</app-button>
        <app-button [isNarrow]="true" [isPrimary]="true" [isDisabled]="!selectedLotIds.length || !mfgFacilityUnique || priceFormGroup.invalid"
                    (clicked)="onConvertToCash()" class="ml-20">Convert To Cash</app-button>
      </div>
    </div>
  </ng-container>
</app-modal-base>
