<mat-card *ngIf="permissions.canCreateOpenLineItem || permissions.canUpdateOpenLineItem; else NoAccess" class="mat-elevation-z2">
	<mat-card-header>
		<mat-card-title>{{title}}</mat-card-title>

		<button color="primary" mat-icon-button title="Close" (click)="onClose()" tabindex="-1">
			<mat-icon>close</mat-icon>
		</button>
	</mat-card-header>

	<mat-card-content>

    <app-add-edit-purchase-order-line
      *ngIf="isLoaded && ((isAddState && permissions.canCreateOpenLineItem) || (permissions.canUpdateOpenLineItem && isEditState && data))"
      [data]="data"
      [accounts]="accounts"
      [editMode]="isEditState"
      (back)="onClose()"
    ></app-add-edit-purchase-order-line>

	</mat-card-content>
</mat-card>

<ng-template #NoAccess>
	<div class="no-data">You do not have enough permissions for this section</div>
</ng-template>

