<div class="ship-to-actions" *ngIf="crmLocation.canUpdate">
  <app-button [isNarrow]="true" [isPrimary]="true" *ngIf="disabledMode; else DoneButton" (clicked)="onEditClick()">Edit
  </app-button>
  <ng-template #DoneButton>
    <app-button [isNarrow]="true" [isPrimary]="true" (clicked)="done()">Done</app-button>
  </ng-template>
</div>
<div class="container-wrapper">
  <div class="section-notes">
    <form [formGroup]="form">
      <div class="active-hours">
        <mat-form-field appearance="outline">
          <mat-label>Receiving department active hours</mat-label>
          <textarea matInput placeholder="Start Typing" appNullOnEmpty [appDisableControl]="disabledMode"
            [formControl]="receivingHours" rows="1"></textarea>
          <mat-error>{{receivingHours?.errors | errorMessage}}</mat-error>
        </mat-form-field>
      </div>
      <div class="comments">
        <mat-form-field appearance="outline">
          <mat-label>Comments</mat-label>
          <textarea matInput placeholder="Start Typing" appNullOnEmpty [appDisableControl]="disabledMode"
            [formControl]="receivingNotes" rows="5"></textarea>
          <mat-error>{{receivingNotes?.errors | errorMessage}}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
