.wrapper {
  display: flex;
  align-items: baseline;
  width: fit-content;
  font-size: 15px;
  font-weight: 500;
  height: 70px;

  .label {
    white-space: nowrap;
    margin-right: 15px;
  }

  .value {
    white-space: nowrap;
    padding-top: 25px;
    padding-bottom: 38px;
  }

  .value-form {
    width: 150px;
  }
}
