.inventory-menu-wrapper {
  p {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 16px;
    margin: 0;
    color: rgba(var(--palette-primary-300), 1);
  }

  button.mat-menu-item {
    width: 100%;
    font-size: 14px !important;
    font-weight: 500;
  }

  .transactions-wrapper {
    max-height: 300px;
    overflow-y: auto;

    .tx-wrapper {
      position: relative;

      .description {
        position: absolute;
        top: 28px;
        left: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        font-size: 13px;
        color: rgba(var(--palette-primary-300), 1);
      }
    }
  }
}
