<app-filter-grid-layout *ngIf="isLoaded && permissions.canRead"
                        header="Credit Memos"
                        [filtersCount]="selectedFiltersCount"
                        (resetChange)="onFilterReset()"
>
	<ng-container right-side-button-section>
    <app-bookmark [viewKey]="viewKey"
                  [currentState]="viewState"
                  [defaultState]="defaultState"
                  (stateChanged)="onViewStateChanged($event)"
    ></app-bookmark>

    <app-button *ngIf="permissions.canCreate"
                (clicked)="onAddCreditMemo()"
                [isPrimary]="true"
                icon="add"
    >New Credit Memo
    </app-button>
	</ng-container>

  <ng-container filter-section>
    <app-credit-memos-filters
      [filters]="viewState.filters"
      [filtersState]="viewState.filtersState"
      [crmAccounts]="crmAccountsList"
    ></app-credit-memos-filters
>

    <div class="text-center">
      <app-button
        [matTooltip]="allLoaded && !isFiltersChanged() ? 'All the credit memos for the specified filters are loaded.' : ''"
        [isNarrow]="true"
        [isPrimary]="true"
        [isDisabled]="!isFiltersChanged()"
        (clicked)="searchCreditMemos()">
        {{isFiltersChanged() || allLoaded ? 'Run Query' : 'Load More'}}
      </app-button>
    </div>
  </ng-container>

  <ng-container main-section>
    <div class="grid-container">
      <dx-data-grid #grid
                    [dataSource]="creditMemosList"
                    [showBorders]="true"
                    [remoteOperations]="false"
                    [allowColumnResizing]="true"
                    columnResizingMode="widget"
                    [allowColumnReordering]="true"
                    [rowAlternationEnabled]="false"
                    [columnHidingEnabled]="true"
                    [hoverStateEnabled]="true"
                    [columnAutoWidth]="true"
                    [focusedRowEnabled]="true"
                    keyExpr="id"
                    (onToolbarPreparing)="onToolbarPreparing($event)"
                    (onContentReady)="onContentReady()"
                    (onExporting)="onExporting($event)"
      >
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-scrolling mode="standard" [useNative]="true"></dxo-scrolling>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-state-storing [enabled]="true"
                           type="custom"
                           [customLoad]="loadGridState"
                           [customSave]="saveGridState"
                           [savingTimeout]="100"
        ></dxo-state-storing>

        <dxi-column
                    [allowHiding]="false"
                    [allowGrouping]="false"
                    [width]="40"
                    cellTemplate="actionsTemplate"
            ></dxi-column>
            <div *dxTemplate="let item of 'actionsTemplate'">
            <app-table-actions *ngIf="item.data"
                            [data]="item.data"
                            [actions]="actions"
                            (action)="onAction($event, item.data)"
            ></app-table-actions>
            </div>
        <div *dxTemplate="let data of 'toolbarPrefixTemplate'" class="toolbar-prefix-container">
          <app-table-results-text [visibleRows]="visibleRows" [results]="creditMemosList?.length"></app-table-results-text>
        </div>

        <dxi-column dataField="number" alignment="left" width="100px" cellTemplate="numberTemplate" [allowGrouping]="false"></dxi-column>
        <div *dxTemplate="let data of 'numberTemplate'">
          <app-copy-text-button
            class="small"
            [text]="data.value"
            [valueToCopy]="getCreditMemoUrl(data.data.id)"
            successMessage="Link to Credit Memo copied to clipboard"
          ></app-copy-text-button>
        </div>

        <dxi-column dataField="customer" caption="Customer" [calculateDisplayValue]="calculateDisplayCustomerValue"></dxi-column>

        <dxi-column dataField="state" caption="State" cellTemplate="stateTemplate" groupCellTemplate="groupStateCellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'stateTemplate'">
          <span class="badge" [ngClass]="data.data.stateBadgeClass">{{data.value | stringUnderscoreToSpaceTitleCase}}</span>
        </div>
        <div *dxTemplate="let data of 'groupStateCellTemplate'">
          {{data.column.caption}}:
          <ng-container *ngIf="data.value as stateValue">
            <span [ngClass]="[stateTextClass(stateValue)]">{{stateValue | stringUnderscoreToSpaceTitleCase}}</span>
          </ng-container>
        </div>

        <dxi-column dataField="reviewState" caption="Review State" cellTemplate="reviewStateTemplate" groupCellTemplate="groupReviewStateCellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'reviewStateTemplate'">
          <span class="badge" [ngClass]="data.data.reviewStateBadgeClass">{{data.value | stringUnderscoreToSpaceTitleCase}}</span>
        </div>
        <div *dxTemplate="let data of 'groupReviewStateCellTemplate'">
          {{data.column.caption}}:
          <ng-container *ngIf="data.value as stateValue">
            <span [ngClass]="[reviewStateTextClass(stateValue)]">{{stateValue | stringUnderscoreToSpaceTitleCase}}</span>
          </ng-container>
        </div>

        <dxi-column dataField="createdAt" dataType="date" caption="Created Date"></dxi-column>

        <dxi-column dataField="appliedTo" caption="Applied To" [calculateDisplayValue]="calculateDisplayAppliedToValue"></dxi-column>

        <dxi-column dataField="amount" caption="Total Amount">
          <dxo-format type="currency" [precision]="2"></dxo-format>
        </dxi-column>

      </dx-data-grid>
    </div>
  </ng-container>
</app-filter-grid-layout>

<ng-container *ngIf="!permissions.canRead">
	<div class="no-data">You do not have enough permissions for this section</div>
</ng-container>
