<div class="header">
  Open your account.
</div>
<div class="sub-header">
  No credit card required, no software to install. With your new<br> account, you get:
</div>
<div class="pros-list">
  <ul>
    <li>Preloaded data or upload your own data</li>
    <li>Preconfigured processes, reports & dashboards</li>
    <li>Intelligent tools for sales reps, leaders and administrators</li>
  </ul>
</div>
<div class="open-account-button">
  <button routerLink="/auth/signup">Open My Account</button>
</div>
<div class="app-image">
  <img src="assets/images/dashboard.png" alt="dashboard">
</div>
