.main-wrapper {
  .content {
    font-size: 10px;
  }
}

.buyer-info {
  margin-top: 30px;
}

.details-table-section {
  margin-top: 30px;
}

.header-with-number-wrapper {
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  min-width: 200px;

  div {
    border: 1px solid black;
    padding: 5px 10px;
  }

  .header {
    background-color: lightgray;
    font-weight: 900;
  }

  .id {
    font-size: 12px;
  }
}

.invoice-details-header {
  .first-line {
    display: flex;
    justify-content: stretch;
    border: 2px solid black;
    padding: 2px 3px;

    .in-line-value {
      width: 30%;
    }
  }

  .second-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      border: 2px solid black;
      border-top: 0;
      border-right: 0;
      padding: 2px 3px;

      &:last-child {
        border-right: 2px solid black;
      }
    }
  }
}

.line-items-table {
  width: 100%;
  border: 2px solid;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;

  thead {
    background: lightgray;
  }

  tr {
    height: 40px;
    break-inside: avoid;
  }

  th {
    height: 40px;
    border: 1px solid;
  }

  td {
    border: 1px solid;
    border-bottom: 0;
    border-top: 0;
    text-align: center;
  }

  th,
  td {
    padding: 5px 10px;
  }

  td.text-left,
  th.text-left {
    text-align: left;
  }
}

img {
  height: 100px;
}

.label-value-label {
  font-weight: 700;
  margin-right: 5px;
  white-space: nowrap;
}

.total-row {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.total-box {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  font-weight: 700;

  .label {
    margin-right: 5px;
  }

  .value {
    border: 2px solid;
    width: 200px;
    text-align: right;
    padding: 5px 10px;
  }
}
