.section-header {
  background-color: rgba(var(--palette-primary-100), 0.35);
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
