<div class="section-header">
  <span>Milestones</span>
  <div class="d-flex">
    <div class="log-section" (click)="openTransactionLog()">
      <span>Log</span>
      <mat-icon color="primary">list_alt</mat-icon>
    </div>
    <div class="chat-section" (click)="openMessagingDialog()">
      <span>Chat</span>
      <div class="unread-update-red-dot" *ngIf="transactionData.hasUnreadComment"></div>
      <mat-icon color="primary">chat_bubble_outline</mat-icon>
    </div>
  </div>
</div>

<app-table-base *ngIf="transactionData?.milestones?.length">
  <ng-container header>
    <tr class="header">
      <th class="icon"></th>
      <th class="milestone-description">Description</th>
      <th class="time-stamp">Time Stamp</th>
      <th class="user">User</th>
      <th class="attachment">Attachment</th>
    </tr>
  </ng-container>

  <ng-container body>
    <tr *ngFor="let milestone of transactionData.milestones">
      <td class="icon text-center">
        <img *ngIf="milestone.icon" src="/assets/milestoneIcons/{{milestone.icon}}.svg" alt="">
      </td>
      <td class="milestone-description">{{milestone.description}}</td>
      <td class="time-stamp">{{milestone.updatedAt | date}}</td>
      <td class="user">
        <div *ngIf="milestone.creator">
          {{milestone.creator.firstName}} {{milestone.creator.lastName}}
        </div>
      </td>
      <td class="attachment">
        <div *ngIf="milestone.attachment" (click)="downloadDocument(milestone)">
          <mat-icon>attachment</mat-icon>
          <span>{{milestone.attachment.name}}</span>
        </div>
      </td>
    </tr>
  </ng-container>
</app-table-base>

<hr>

<div class="btn-section">
  <app-button icon="add" *ngIf="canUpdateMilestones" (clicked)="openAddMilestoneModal()">Add Milestone</app-button>
</div>
