.action-buttons {
  padding-top: 14px;
}

.description-section {
  .progress-bar {
    width: 250px;
    height: 60px;
  }

  .progress-text {
    height: 60px;
    padding: 20px 10px 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: grey;
  }
}
