<div class="wrapper">
  <div class="header-section">
    <div class="header-label">
      <div class="name-section">
        <mat-icon color="primary" matPrefix>location_on</mat-icon>
        <h4 *ngIf="crmLocationData; else NoCrmContactData">{{crmLocationData.shortName}}</h4>
        <span class="badge badge-ui-warning ml-15" *ngIf="crmLocationData?.archived">Archived</span>
        <ng-template #NoCrmContactData>
          <h4>New Location Info</h4>
        </ng-template>
      </div>
      <div class="account-part">
        <mat-icon color="primary" matPrefix>store_mall_directory</mat-icon>
        <span>A <a [routerLink]="[]" (click)="close()">{{crmAccountData.name}}</a> Location</span>
      </div>
      <div class="linked-to-section" *ngIf="crmLocationData?.link">
        <span>Linked to BuyChain<sup>TH</sup> location <span>{{crmLocationData.link.shortName}}</span></span>
      </div>
    </div>
    <div class="actions" *ngIf="readonlyMode$ | async">

      <div *ngIf="!isOnlyOffline && crmAccountData.link && crmPermissions?.canUpdate">
        <mat-icon *ngIf="crmLocationData?.link; else UnlinkedIcon" color="primary" (click)="openLinkedCrmLocationModal()">link</mat-icon>
        <ng-template #UnlinkedIcon>
          <mat-icon color="primary" (click)="openUnlinkedCrmLocationModal()">link_off</mat-icon>
        </ng-template>
      </div>
      <mat-icon *ngIf="crmPermissions?.canUpdate" color="primary" (click)="edit()">edit</mat-icon>
      <app-tab-expansion-icon [isLeftPartVisible$]="crmStateService.isLeftPartVisible$"></app-tab-expansion-icon>
      <mat-icon color="primary" (click)="close()">close</mat-icon>
    </div>
  </div>
  <div class="actions-container">
    <div class="actions" *ngIf="(readonlyMode$ | async) !== true">
      <app-button [isPrimary]="true" [isNarrow]="true" (clicked)="createUpdateCRMLocation()">Save</app-button>
      <app-button [isNarrow]="true" (clicked)="cancel()">Cancel</app-button>
    </div>
  </div>
  <app-facility-form [parentForm]="form" [facilityData]="crmLocationData" [readonlyMode$]="readonlyMode$" [isCrm]="true"></app-facility-form>

  <hr>
  <div class="labels-section-wrapper" *ngIf="crmLocationData">
    <div class="labels-wrapper">
      <div class="label-group">
        <app-labels-group
          [header]="'Tags'"
          [crmType]="CRMType.LOCATION"
          [labelGroup]="LabelKey.Tags"
          [labelSection]="LabelGroupName.locationTags"
          [crmLocationData]="crmLocationData"
        ></app-labels-group>
      </div>
    </div>
  </div>
  <hr>

  <div *ngIf="crmLocationData">
    <mat-tab-group [(selectedIndex)]="tabIndex" class="styled padded-content">
      <mat-tab label="Info" *ngIf="crmPermissions?.canReadSalesInfo">
        <app-crm-location-sales-info [crmLocationData]="crmLocationData"></app-crm-location-sales-info>
      </mat-tab>
      <mat-tab label="Inbound">
        <ng-template matTabContent>
          <app-crm-inbound-info *ngIf="!crmLocationData.link" [crmLocation]="crmLocationData"></app-crm-inbound-info>
          <app-ship-to  *ngIf="crmLocationData.link" [facility]="crmLocationData.link" [isCrm]="true"></app-ship-to>
        </ng-template>
      </mat-tab>
      <mat-tab label="Outbound">
        <ng-template matTabContent>
          <app-crm-outbound-info *ngIf="!crmLocationData.link" [crmLocation]="crmLocationData"></app-crm-outbound-info>
          <app-ship-from *ngIf="crmLocationData.link" [facility]="crmLocationData.link" [isCrm]="true"></app-ship-from>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
