.wrapper {
  .header-section {
    .actions {
      display: flex;

      mat-icon {
        cursor: pointer;
        padding-left: 10px;
      }
    }

    .header-label {
      .account-part {
        display: flex;
        margin-left: 35px;

        mat-icon {
          font-size: 18px;
        }
      }

      .linked-to-section {
        font-size: 13px;
        margin-left: 35px;

        span {
          font-style: italic;
        }
      }
    }
  }

  .actions-container {
    .actions {
      justify-content: flex-end;
      flex-direction: row;
      display: flex;
      padding: 0 10px;
      padding-right: 30px;

      app-button {
        padding-left: 10px;
      }
    }
  }

  app-crm-location-sales-info,
  app-ship-to,
  app-ship-from {
    width: 100%;
  }

  .labels-section-wrapper {
    .labels-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
